doctype html
html
    head
        meta(charset="utf-8")
        title Blog - Admin
        link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    body
        .navbar.navbar-default.navbar-static-top(role="navigation")
            .container
                .navbar-header
                    a.navbar-brand(href="/") The Blog
                ul.nav.navbar-nav
                    li
                        a(href="/posts") Posts
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="/admin") Admin
                    li
                        a(href="/sessions/logout") Log out
        .container
            each error in errors
                .alert.alert-danger(role="alert")= error
            each info in infos
                .alert.alert-info(role="alert")= info
            block content