extends ./_layout.jade
block content
    h1 The Blog
    .row
        .col-md-6
            .panel.panel-default
                .panel-heading
                    h2.panel-title Post Title
                table.table.table-striped
                    thead
                        tr
                            th Name
                            th Category
                            th
        .col-md-6
            .panel.panel-default
                .panel-heading
                    h2.panel-title Recent Comments
                table.table.table-striped
                    thead
                        tr
                            th Post
                            th Name
                            th Email
                            th