extends ../_layout.jade
block content
    h1 New User

    form(action="/admin/posts", method="post")
        .form-group
            label(for="title") Title
            input.form-control(name="title", type="text",
                id="title", placeholder="Display name")
        .form-group
            label(for="excerpt") Excerpt
            textarea.form-control(name="excerpt", placeholder="Tell us about this post")
        .form-group
            label(for="body") Body
            textarea.form-control(name="body", placeholder="Tell us about this post")
        .form-group
            label(for="publishedAt") Published At
            input.form-control(name="publishedAt", type="datetime-local",
                id="publishedAt")
        input.btn.btn-primary.btn-block(type="submit", value="Save")