extends ./_layout.jade
block content
    h1 The Blog
    .row
        .col-md-9
            .panel.panel-default
                .panel-heading
                    h2.panel-title Post Title
                .panel-body
                    p Post Excerpt
            .panel.panel-default
                .panel-heading
                    h2.panel-title Post Title
                .panel-body
                    p Post Excerpt
        .col-md-3
            .panel.panel-default
                .panel-heading
                    h2.panel-title Recent Comment
                .panel-body
                    ul
                        li Comment 1
                        li Comment 2
            .panel.panel-default
                .panel-heading
                    h2.panel-title Twitter Feed
                .panel-body
                    ul
                        li Comment 1
                        li Comment 2