extends ./_layout.jade
block content
    h1 Welcome to Learn About Me!
    each user in users
        .panel.panel-default
            .panel-heading
                a(href="/users/#{user.username}")= user.name()
            if user.bio
                .panel-body= user.bio