extends ../_layout.jade
block content
    table.table.table-striped
        tbody
            tr
                th Display Name
                td= user.displayName
            tr
                th Username
                td= user.username
            tr
                th Bio
                td= user.bio
            tr
                th Joined At
                td= user.createdAt